
@{
    ViewData["Title"] = "Seleção de cadastros";
}

<div class="text-center">
    <h1 class="display-4">Selecione qual o Tipo de cadastro</h1>
  
</div>

<div class="d-grid gap-2 col-6 mx-auto">
    <button type="button" class="btn btn-primary">Cadastrar novo Funcionário</button>
    <button type="button" class="btn btn-primary">Cadastrar novo EPI's'</button>
    <button type="button" class="btn btn-primary">Cadastrar novo Veiculos</button>
    <button type="button" class="btn btn-primary">Cadastrar nova Base</button>
    <button type="button" class="btn btn-primary">Cadastrar novo Item Base</button>
</div>



